/* .one{
    font-weight: 700;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 20px;
    
}*/
/* input{
    width: 100%;
}
button{
    width: 100%;
} */
/* .text-container{
    text-align: left;
}
.kg-margin{
    margin: 10px 5px;
} */ 

